{% extends "base.html" %}

{% block title %}
  {{ is_edit|yesno:"-edit-,-add-" }}
{% endblock %}

{% block content %}
<form action="{{ form_action }}" method="post" class="max-w-xl px-4 mx-auto">
  {% csrf_token %}

  <!-- タイトル -->
  <div class="mt-6 mb-10">
    <h1 class="text-3xl font-bold text-center">
      {{ is_edit|yesno:"編集ページ,追加ページ" }}
    </h1>
    <div class="h-2 w-1/5 bg-[#8DC859] mx-auto mt-2 rounded"></div>
  </div>

  <!-- フォーム本体 -->
  <div class="p-6 space-y-6 bg-white border-2 rounded-md shadow-md border-lime-300">

    <!-- タイトル -->
    <div>
      <label for="{{ form.title.id_for_label }}" class="block mb-1 font-semibold">タイトル：</label>
      {{ form.title }}
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          <p class="mt-1 text-sm text-red-500">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <!-- タグ -->
    <div>
      <label for="{{ form.tags.id_for_label }}" class="block mb-1 font-semibold">タグ：</label>
      {{ form.tags }}
      {% if form.tags.errors %}
        {% for error in form.tags.errors %}
          <p class="mt-1 text-sm text-red-500">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <!-- 本文 -->
    <div>
      <label for="{{ form.body.id_for_label }}" class="block mb-1 font-semibold">メモ：</label>
      {{ form.body }}
      {% if form.body.errors %}
        {% for error in form.body.errors %}
          <p class="mt-1 text-sm text-red-500">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>

    <!-- ボタン -->
    <div class="text-center">
      <button type="submit"
              class="px-6 py-3 font-bold text-white bg-red-400 rounded-lg hover:bg-red-600 active:bg-red-800">
        {{ is_edit|yesno:"更新,保存" }}
      </button>
    </div>
  </div>
</form>

<!-- 戻る -->
<div class="mt-10 mb-20 text-center">
  <a href="{% url 'index' %}"
     class="inline-block px-6 py-3 border-8 border-white border-double rounded-md bg-lime-300 
     hover:bg-[#8DC859] hover:text-white hover:underline transition">
    一覧へ戻る
  </a>
</div>
<div></div>
{% endblock %}
